#pragma once

// Copy this file to:
//     include/secrets.h
//
// Fill in the actual values in secrets.h.
// DO NOT commit secrets.h to Git.

#define WIFI_SSID       "YOUR_WIFI_SSID"
#define WIFI_PASSWORD   "YOUR_WIFI_PASSWORD"

#define MQTT_SERVER     "YOUR_MQTT_SERVER"
#define MQTT_PORT       1883
#define MQTT_USERNAME   "YOUR_MQTT_USERNAME"
#define MQTT_PASSWORD   "YOUR_MQTT_PASSWORD"